**/.idea

**/.pio

**/.vscode
!./DJC-Firmware/.vscode/extensions.json

./snapshot.txt


# KiCad 10

**/*-backups/**
*.kicad_prl
fp-info-cache
*.kicad_sch-bak
*.kicad_pcb-bak
*-rescue.lib
*-save.kicad_pcb
*-save.kicad_sch
*.tmp
*~
_autosave-*
**/.history/**
PCB/DJC-Shield/.history
