[submodule "DJC-Firmware/lib/KiraFlux-GFX"]
	path = DJC-Firmware/lib/KiraFlux-GFX
	url = https://github.com/KiraFlux/KiraFlux-GFX.git
[submodule "DJC-Firmware/lib/KiraFlux-Input"]
	path = DJC-Firmware/lib/KiraFlux-Input
	url = https://github.com/KiraFlux/KiraFlux-Input.git
[submodule "DJC-Firmware/lib/KiraFlux-OLED"]
	path = DJC-Firmware/lib/KiraFlux-OLED
	url = https://github.com/KiraFlux/KiraFlux-OLED.git
[submodule "DJC-Firmware/lib/Fresh-EspNow"]
	path = DJC-Firmware/lib/Fresh-EspNow
	url = https://github.com/KiraFlux/Fresh-EspNow.git
[submodule "DJC-Firmware/lib/KiraFlux-ToolBox"]
	path = DJC-Firmware/lib/KiraFlux-ToolBox
	url = https://github.com/KiraFlux/KiraFlux-ToolBox.git
[submodule "DJC-Firmware/lib/KiraFlux-SYS"]
	path = DJC-Firmware/lib/KiraFlux-SYS
	url = https://github.com/KiraFlux/KiraFlux-SYS.git
[submodule "DJC-Firmware/lib/KiraFlux-UI"]
	path = DJC-Firmware/lib/KiraFlux-UI
	url = https://github.com/KiraFlux/KiraFlux-UI.git
